.show{
    background-color: red;
}
body{
    margin: 0px;
    padding: 0px;
}

.contain-sign-up{
    margin-top: -80px;
    margin-left: 0px;
    width: 800px;
    padding-left: 200px;
}
.contain-sign-up{
    /* background-color: rgb(230, 230, 234); */
    padding: 0px;
    display: grid;
    justify-content: center;
    padding-top: 0px;
}

.formSignUp{
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    background-color: ;
    border: 1px solid rgb(54, 100, 216);
    width: 250px;
    outline: none;
   
}
.formSignUp::placeholder{
    padding-left: 30px;
}

.StdformSignUp{
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    background-color: ;
    border: 1px solid rgb(54, 100, 216);
    width: 250px;
    outline: none;
}
.StdformSignUp::placeholder{
     padding-left: 30px;

}

.btn20{
    height: 40px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    border-radius: 10px;
    width: 80px;
    border: 1px solid rgb(78, 86, 240);
    background-color: white;
}
.signup-options{
    display: grid;
    grid-template-columns: 19% 20%;
    margin-top: 40px;
    /* background-color: red; */
    padding-left: 200px;
    justify-content: center;
}
.btn21{
    height: 40px;
    margin-left: 20px;
    color: rgb(10, 17, 207);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    border: none;
    /* border: 1px solid rgb(78, 86, 240); */
    background-color: transparent;

}
.btn21 a{
    color: rgb(164, 160, 160);
}
.btn18{
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 90px;

    color: rgb(98, 98, 99);
    padding: 20px;
    padding-top: 10px;
    margin-bottom: -40px;
    margin-left: -110px;
    
    margin-top: -60px;
}
.btn18:hover{
    background-color: blue;
    color: white;
}
.btn19{
    border: none;
    margin-top: -60px;
    height: 40px;
    /* margin-top: 90px; */
    color: rgb(169, 169, 251);
    margin-left: -60px;
    margin-bottom: 100px;
    border-radius: 7px;
    transition:background ease 600ms ;


}
.btn19:hover{
    color: black;
    background-color: blue;
    border-radius: 7px;

}

.container-Sign-up{
    width: 800px;
    position: relative;
    height: 600px;
    margin-top: -450px;
    margin-left: 300px;
    background-color: rgb(244, 244, 248);
}
.close{
    margin-bottom: -100px;
}


.fa-times{
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;
}
.Activebtn{
    background-color: rgb(255, 255, 255);
}
@media screen and (max-width:1150px) {
    .contain-sign-up{
        margin-top: -80px;
        margin-left: 0px;
        width: 800px;
        padding-left: 200px;
    }
    .contain-sign-up{
        /* background-color: rgb(230, 230, 234); */
        padding: 0px;
        display: grid;
        justify-content: center;
        padding-top: 0px;
    }
    
    .formSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
       
    }
    .formSignUp::placeholder{
        padding-left: 30px;
    }
    
    .StdformSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
    }
    .StdformSignUp::placeholder{
         padding-left: 30px;
    
    }
    
    .btn20{
        height: 40px;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border-radius: 10px;
        width: 80px;
        border: 1px solid rgb(78, 86, 240);
        background-color: white;
    }
    .signup-options{
        display: grid;
        grid-template-columns: 19% 20%;
        margin-top: 40px;
        /* background-color: red; */
        padding-left: 200px;
        justify-content: center;
    }
    .btn21{
        height: 40px;
        margin-left: 20px;
        color: rgb(10, 17, 207);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border: none;
        /* border: 1px solid rgb(78, 86, 240); */
        background-color: transparent;
    
    }
    .btn21 a{
        color: rgb(164, 160, 160);
    }
    .btn18{
        border: none;
        height: 40px;
        border-radius: 10px;
        margin-top: 90px;
    
        color: rgb(98, 98, 99);
        padding: 20px;
        padding-top: 10px;
        margin-bottom: -40px;
        margin-left: -110px;
        
        margin-top: -60px;
    }
    .btn18:hover{
        background-color: blue;
        color: white;
    }
    .btn19{
        border: none;
        margin-top: -60px;
        height: 40px;
        /* margin-top: 90px; */
        color: rgb(169, 169, 251);
        margin-left: -60px;
        margin-bottom: 100px;
        border-radius: 7px;
        transition:background ease 600ms ;
    
    
    }
    .btn19:hover{
        color: black;
        background-color: blue;
        border-radius: 7px;
    
    }
    
    .container-Sign-up{
        padding-top: 20px;
        width: 800px;
        position: relative;
        
        margin-top: -450px;
        margin-left: -250px;

        background-color: rgb(244, 244, 248);
    }
    .close{
        margin-bottom: -100px;
       
    }
    
    
    .fa-times{
        margin-left: 530px;
        margin-top: 50px;
        margin-bottom: 70px;
        font-size: 20px;
    }
    .Activebtn{
        background-color: rgb(255, 255, 255);
    }
    
}



@media screen and (max-width:600px) {
    .contain-sign-up{
        margin-top: -80px;
        margin-left:60px;
        width: 800px;
        padding-left: 200px;
    }
    .contain-sign-up{
        /* background-color: rgb(230, 230, 234); */
        padding: 0px;
        display: grid;
        justify-content: center;
        padding-top: 0px;
    }
    
    .formSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
       
    }
    .formSignUp::placeholder{
        padding-left: 30px;
    }
    
    .StdformSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
    }
    .StdformSignUp::placeholder{
         padding-left: 30px;
    
    }
    
    .btn20{
        height: 40px;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border-radius: 10px;
        width: 80px;
        border: 1px solid rgb(78, 86, 240);
        background-color: white;
    }
    .signup-options{
        display: grid;
        grid-template-columns: 19% 20%;
        margin-top: 40px;
        /* background-color: red; */
        padding-left: 200px;
        justify-content: center;
    }
    .btn21{
        height: 40px;
        margin-left: 20px;
        color: rgb(10, 17, 207);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border: none;
        /* border: 1px solid rgb(78, 86, 240); */
        background-color: transparent;
    
    }
    .btn21 a{
        color: rgb(164, 160, 160);
    }
    .btn18{
        border: none;
        height: 40px;
        border-radius: 10px;
        margin-top: 90px;
    
        color: rgb(98, 98, 99);
        padding: 20px;
        padding-top: 10px;
        margin-bottom: -40px;
        margin-left: -110px;
        
        margin-top: -60px;
    }
    .btn18:hover{
        background-color: blue;
        color: white;
    }
    .btn19{
        border: none;
        margin-top: -60px;
        height: 40px;
        /* margin-top: 90px; */
        color: rgb(169, 169, 251);
        margin-left: -60px;
        margin-bottom: 100px;
        border-radius: 7px;
        transition:background ease 600ms ;
    
    
    }
    .btn19:hover{
        color: black;
        background-color: blue;
        border-radius: 7px;
    
    }
    
    .container-Sign-up{
        padding-top: 20px;
        width: 800px;
        position: relative;
        
        margin-top: -450px;
        margin-left: -250px;

        background-color: rgb(244, 244, 248);
    }
    .close{
        margin-bottom: -100px;
       
    }
    
    
    .fa-times{
        margin-left: 530px;
        margin-top: 50px;
        margin-bottom: 70px;
        font-size: 20px;
    }
    .Activebtn{
        background-color: rgb(255, 255, 255);
    }
    
}



@media screen and (max-width:370px) {
    .contain-sign-up{
        margin-top: -80px;
        margin-left: 0px;
        width: 800px;
        padding-left: 200px;
    }
    .contain-sign-up{
        /* background-color: rgb(230, 230, 234); */
        padding: 0px;
        display: grid;
        justify-content: center;
        padding-top: 0px;
    }
    
    .formSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
       
    }
    .formSignUp::placeholder{
        padding-left: 30px;
    }
    
    .StdformSignUp{
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        background-color: ;
        border: 1px solid rgb(54, 100, 216);
        width: 250px;
        outline: none;
    }
    .StdformSignUp::placeholder{
         padding-left: 30px;
    
    }
    
    .btn20{
        height: 40px;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border-radius: 10px;
        width: 80px;
        border: 1px solid rgb(78, 86, 240);
        background-color: white;
    }
    .signup-options{
        display: grid;
        grid-template-columns: 19% 20%;
        margin-top: 40px;
        /* background-color: red; */
        padding-left: 200px;
        justify-content: center;
    }
    .btn21{
        height: 40px;
        margin-left: 20px;
        color: rgb(10, 17, 207);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        border: none;
        /* border: 1px solid rgb(78, 86, 240); */
        background-color: transparent;
    
    }
    .btn21 a{
        color: rgb(164, 160, 160);
    }
    .btn18{
        border: none;
        height: 40px;
        border-radius: 10px;
        margin-top: 90px;
    
        color: rgb(98, 98, 99);
        padding: 20px;
        padding-top: 10px;
        margin-bottom: -40px;
        margin-left: -110px;
        
        margin-top: -60px;
    }
    .btn18:hover{
        background-color: blue;
        color: white;
    }
    .btn19{
        border: none;
        margin-top: -60px;
        height: 40px;
        /* margin-top: 90px; */
        color: rgb(169, 169, 251);
        margin-left: -60px;
        margin-bottom: 100px;
        border-radius: 7px;
        transition:background ease 600ms ;
    
    
    }
    .btn19:hover{
        color: black;
        background-color: blue;
        border-radius: 7px;
    
    }
    
    .container-Sign-up{
        padding-top: 20px;
        width: 800px;
        position: relative;
        
        margin-top: -450px;
        margin-left: -250px;

        background-color: rgb(244, 244, 248);
    }
    .close{
        margin-bottom: -100px;
       
    }
    
    
    .fa-times{
        margin-left: 530px;
        margin-top: 50px;
        margin-bottom: 70px;
        font-size: 20px;
    }
    .Activebtn{
        background-color: rgb(255, 255, 255);
    }
    
}